* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  color: black;
  background-color: rgba(240, 248, 255, 0.342);
  backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  z-index: 99;
}
.secnavMain {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.navMain ul,
.dashbord {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.popupDivMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navMain ul li a {
  text-decoration: none;
  padding: 1rem;
  color: black;

  border-radius: 10px;

  transition: background-color 2s;
}
.navMain ul li a:hover {
  background-color: rgb(44, 184, 210);
}
.p-top {
  padding-top: 7vh;
}
.p-top2 {
  padding-top: 13.5vh;
}
.homeMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(223, 167, 220);
  background: linear-gradient(
    229deg,
    rgba(223, 167, 220, 1) 39%,
    rgba(130, 192, 212, 1) 100%
  );
  position: relative;
}

.preloader {
  background: url("./assets/preloader.webp") no-repeat center center;
  background-size: 15%;
  background-color: rgba(240, 248, 255, 0.342);
  backdrop-filter: blur(10px);

  width: 100vw;
  height: 100vh;
  position: fixed;
  /* inset: 0; */
  color: wheat;

  z-index: 2;
}

.DeleteLoader {
  background: url("./assets/deleteloader.gif") no-repeat center center;
  background-size: 30%;
  background-color: white;

  width: 100vw;
  height: 100vh;
  position: fixed;
  /* inset: 0; */
  color: wheat;

  z-index: 2;
}
.addstoryloader {
  background: url("./assets//addstoryloader.gif") no-repeat center center;
  background-size: 30%;
  background-color: white;

  width: 100vw;
  height: 100vh;
  position: fixed;
  /* inset: 0; */
  color: wheat;

  z-index: 2;
}
.loginloader {
  background: url("./assets//loginerror.webp") no-repeat center center;
  background-size: 15%;
  background-color: rgba(240, 248, 255, 0.342);
  backdrop-filter: blur(10px);

  width: 100vw;
  height: 100vh;
  position: fixed;
  /* inset: 0; */
  color: wheat;

  z-index: 2;
}
.dashbord p,
.dashbord a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(44, 184, 210);
  border-radius: 10px;
}
.homeFirstImg {
  width: 80%;
  transition: transform 1s;
}
.homeFirstImg:hover {
  transform: skew(10deg);
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.weare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.weare p {
  /* position: absolute;
  top: 0; */
  font-size: 2vw;
  font-family: cursive;

  animation: slide-bottom 1.1s;
  animation-delay: 1.2s;
}

.weare h1 {
  font-size: 4vw;
  animation: slide-bottom 1.5s;
  animation-delay: 0.6s;
}
.btnHome {
  display: flex;
  gap: 1rem;
}
.btnHome a {
  padding: 1rem;

  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  animation: slide-bottom 1s;
  animation-delay: 0.3s;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.readtopstoriesTxt {
  z-index: 1;
  position: relative;
}
.readtopstories {
  background-color: white;
  position: relative;
}

.readtopstories::before {
  content: "";
  transform-origin: left;
  background-color: rgba(255, 192, 203, 0.63);
  /* padding: 100px 50px; */
  /* font-size: large; */
  transition: all 1s;
  position: absolute;
  /* top: 0; */
  inset: 0;
  transform: scaleX(0);
}
.readtopstories:hover:before {
  transform: scaleX(1);
  color: black;
}
.whoareyou {
  background-color: rgba(14, 129, 129, 0.192);
}
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}
.homeContainer div {
  width: 49.6%;

  position: relative;
}
.homeContainer div::before {
  content: "";
  transform-origin: top;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(10px);
  transform: scaleY(0);
  transition: all 1s;
}
.homeContainer div:hover::before {
  transform: scaleY(1);
}
.homeContainer div img {
  width: 100%;
  height: 100%;
}
.imagePara {
  padding: 1vw;
  border-radius: 10px;
}
.topmotivation {
  position: absolute;
  top: 48%;
  left: 22%;
  /* right: 23%; */
  text-align: center;
  /* display: inline; */
  color: white;
  background-color: lightcoral;
  font-size: 2vw;
  font-family: monospace;
}
.logo .siteName {
  font-size: 2rem;
}
.siteName::first-letter {
  font-size: 3rem;
  font-family: sans-serif;
  text-shadow: 1px 1px 8px black;
  color: rebeccapurple;
}
.funnystories,
.topStories,
.random {
  position: absolute;
  top: 48%;
  left: 32%;
  /* right: 23%; */
  text-align: center;
  /* display: inline; */
  color: white;
  background-color: lightcoral;
  font-size: 2vw;
  font-family: monospace;
}

.liveMain,
.formClass {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 46vw;
  padding: 2rem;
  /* min-height: 65vh; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.thumbnail {
  width: 20vw;
  /* height: 33vh; */
}
.formClass input,
.formClass textarea {
  width: 80%;
  padding: 5px;
  background: #d3d3d3;
  border-radius: 10px;
  /* border-radius: 20px 10px 10px 20px; */

  border: 1px solid;
}
.updateIcon {
  color: black;
}
.formClass textarea {
  height: 15vh;
  /* border-radius: 20px 10px 10px 20px; */
}
.formClass button {
  padding: 8px 3rem;
  background: lightgray;
  border-radius: 20px;
}
.adstoryMain {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.previewBtn {
  padding: 8px 3rem;
  background: lightgray;
  border-radius: 20px;
}
.storiesImg {
  width: 30%;
  border-radius: 10px;
}
.storiesMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.stories {
  background-color: aliceblue;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  gap: 2rem;
  border: 2px solid black;
  margin: 3rem;
  border-radius: 10px;
}

.storiesinnerDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.storiesBtn {
  width: 10vw;
  padding: 10px 10px;
  background-color: lightblue;
  border-radius: 10px;
  border: 0;
}
.aboutMain {
  display: flex;
  justify-content: center;
}
.about {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid black;
  padding: 2rem;
  font-family: system-ui;
  margin: 3rem;
}
.aboutH1::first-letter {
  font-size: 5rem;
  color: rgb(44, 184, 210);
  margin-right: 5px;
}
.linkedAbout,
.socialmediaLink,
.addstoryfooter {
  text-decoration: none;
  padding: 15px 2rem;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(44, 184, 210);
  color: white;
  border-radius: 10px;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#profileMain {
  justify-content: flex-start;
}
#profileId {
  width: 41vw;

  transition: width 2s;
}
#profileId:active {
  width: 52vw;
}
.profileBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileinnerBtn {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}
.bookReadBtn,
.storiesBtn {
  text-decoration: none;
  color: black;
  /* border: 1px solid; */
  /* width: fit-content; */
  width: 100px;

  padding: 10px;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 1s;
}

.bookReadBtn:hover,
.storiesBtn:hover {
  background-color: rgb(44, 184, 210);
}
.socialmediaLink {
  background-color: white;
  color: black;
  position: relative;
}
.socialmediaLink span {
  /* position: relative; */

  z-index: 1;
}
.socialmediaLink::before {
  content: "";
  background-color: rgb(44, 184, 210);

  border-radius: 10px;
  position: absolute;
  inset: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 1s;
}
.socialmediaLink:hover::before {
  transform: scaleX(1);
}

.richDadMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contaner {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 70vw;
  height: auto;
  gap: 2rem;
  border: 2px solid black;
  flex-wrap: wrap;
  padding: 3rem;
  border-radius: 10px;
}
.containerImg {
  border-radius: 10px;
  width: 200px;
}
.richdadinnerDiv {
  /* margin: 2rem; */
  width: 42vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
/* .richdadinnerDiv h1 {
  font-family: sans-serif;
} */
.footerMain {
  display: flex;
  gap: 3rem;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 65);
  flex-wrap: wrap;
  padding: 3rem 0;
  width: 100%;
}
.publicyourstory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: white;
}
.publishedName {
  padding: 1rem;
  background: lightblue;
  text-align: center;
}
.socalmedia {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.footerMain img {
  width: 31vw;
  height: 15vh;
}
.siteNamelink {
  text-decoration: none;
  color: black;
}
.siteNamelink:visited {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(26, 26, 65);
  border-radius: 20px;
  box-shadow: 1px 1px 8px black inset;
}
.loginMain {
  display: none;
}

.loginForm {
  width: 30vw;
  background: rgb(223, 223, 223);
  background: linear-gradient(
    173deg,
    rgba(223, 223, 223, 1) 0%,
    rgba(130, 192, 212, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 0rem;
  height: 100vh;
  /* align-items: center; */
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 2rem;
}

.loginForm input {
  background-color: lightblue;
  width: 100%;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 7px;
  border: 0;
}
.loginForm button {
  padding: 8px 3rem;
  border-radius: 20px;
  border: 0;
  color: white;
  width: 100%;
  margin: 1rem 0;
  height: 6vh;
  background-color: rgb(245, 174, 22);
}
.loginForm button:hover {
  border: 5px solid lightblue;
  box-shadow: 1px 1px 8px black;
  cursor: pointer;
  height: 7vh;
}
.crose {
  position: absolute;
  top: 10px;
  right: 20px;
  margin: 0;
  font-size: x-large;
  padding: 0 5px;
}
.crose:hover {
  background-color: gray;
  cursor: pointer;
}
.checkBokDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}
#checkBoklogin,
#checkBokSignup {
  width: 40px;
  height: 19px;
  margin-right: 10px;
}
.otherOption {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.popUp {
  display: flex;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.253);
  padding: 5px;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  display: none;
}
#popOpen {
  display: none;
}
#navsideIconId,
#navclearIconId {
  display: none;
}
.fullStorycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.storyDescription {
  height: 5vh;
  overflow: hidden;
  transition: height 3s, padding 2s, border-radius 2s, background-color 1s;
}
.storyDescription:hover {
  cursor: pointer;
  height: 15vh;
  color: white;
  padding: 6px 1rem;
  border-radius: 10px;

  background-color: grey;
}
.topMain {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 95;
  box-shadow: 1px 1px 8px inset black;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border-radius: 100px;
  background-color: rgb(44, 184, 210);
}

@media screen and (max-width: 902px) {
  .publicyourstory {
    text-align: center;
  }
  .secnavMain {
    position: absolute;
    top: 11vh;

    z-index: 2;
    width: 100vw;

    padding: 4rem;
  }
  .formh1Class {
    text-align: center;
    font-size: large;
  }
  .formClass input,
  .formClass textarea {
    width: 100%;
  }
  .formClass textarea {
    height: 10vh;
  }
  #profileMain {
    justify-content: center;
  }

  #profileId {
    width: 90%;
  }
  #secnavMainId {
    display: none;
  }
  .secnavMain,
  .secnavMain ul,
  .dashbord {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .secnavMain ul {
    margin-bottom: 2rem;
  }

  .navMain {
    justify-content: space-between;
    padding: 0;
    height: 11vh;
  }
  #navsideIconId {
    display: block;
  }
  .navsideIcon,
  .navclearIcon {
    margin-right: 2rem;
  }
  .navMain .logo {
    margin-left: 2rem;
  }
  .stories {
    margin: 1rem;
    width: 90%;
  }
  .footerMain img {
    width: 50%;
    height: auto;
  }
  #popupId {
    flex-direction: row;

    width: 100%;
    justify-content: space-between;

    margin-top: 50vh;
  }
  .storiesImg {
    width: 100%;
  }

  .contaner {
    width: 90%;
    padding: 1rem;
  }
  .about {
    width: 90%;
  }
  .linkedAbout {
    width: 100%;
  }
  .popUp {
    top: unset;
    bottom: 0;
  }
  .liveMain,
  .formClass {
    width: 90%;
  }
  .homeContainer {
    gap: unset;
  }

  .div2 {
    display: flex;
    justify-content: center;
  }
  .weare {
    justify-content: unset;
    align-items: unset;
    gap: unset;
  }

  .weare p,
  .weare h1,
  .btnHome {
    margin: 10px 1rem;
  }
  .btnHome {
    flex-wrap: wrap;
  }
  .btnHome a {
    padding: 5px;
    width: max-content;
  }
  .loginForm {
    width: 100%;
  }
}
